@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Bold.woff2') format('woff2'),
        url('../fonts/Lora-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Regular.woff2') format('woff2'),
        url('../fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Italic.woff2') format('woff2'),
        url('../fonts/Lora-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-SemiBold.woff2') format('woff2'),
        url('../fonts/Lora-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-BoldItalic.woff2') format('woff2'),
        url('../fonts/Lora-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Lora-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'permanent_markerregular';
    src: url('../fonts/permanentmarker-webfont.woff2') format('woff2'),
         url('../fonts/permanentmarker-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaInseratCyr Upright';
    src: url('../fonts/HelveticaInseratCyr-Upright.woff2') format('woff2'),
        url('../fonts/HelveticaInseratCyr-Upright.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
  user-select: none;
}
.white{color:#fff;}
.pink{color:#d3054f;}
.yellow{color:#fff000;}
.yellow2{color:#ecc248;}
.green{color:#2a9803;}
.red{color:#ff0000;}
.blue{color:#203d91;}
.blue2{color:#0b3d91;}
.brown{color:#c58b00;}

.strikeout, .strikeout2 { 
  position: relative;
}
.strikeout::after, .strikeout2::after {
  border-bottom: 0.12em solid #F00;
  content: "";
  left: 0;
  margin-top: calc(0.120em / 2 * -1);
  position: absolute;
  right: 0;
  top: 54%;
}
.strikeout::after{
  transform:rotate(-10deg);
  -webkit-transform:rotate(-10deg);
}
.strikeout2::after{
  border-bottom: 0.06em solid #F00;
  top: 61%;  
}
.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*===============================*/
.show-479, .show-tab, .show-1000, .show-767, .show-400, .show-340, .show-359, .show-389{display:none;}
@media only screen and (max-width: 1000px){
.show-tab, .show-1000 {display:block;}
.hide-tab, .hide-1000 {display:none;}
}
@media only screen and (max-width: 767px){
.hide-767{display:none;}
.show-767{display:block;}
}
@media only screen and (max-width: 479px){
.show-479{display:block;}
.hide-479{display:none;}
}
@media only screen and (max-width: 400px){
.show-400{display:block;}
.hide-400{display:none;}
}
@media only screen and (max-width: 389px){
.show-389{display:block;}
.hide-389{display:none;}
}
@media only screen and (max-width: 359px){
.hide-359{display:none;}
.show-359{display:block;}
}
